.Rproj.user/
..Rcheck/
.Renviron
man/
outputs/
.Rhistory
.RData
data/
analyses/0b-load-parameters.R
analyses/parameters/
inst/doc
/doc/
/Meta/
.renv/
dev/
speciesName.csv
R/Rscripts/setupGammPlotOld.R
indicatorRoutine.Rproj
